<footer class="page-footer  bg-primary">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">We Write Blogs</h5>
                <p class="grey-text text-lighten-4"></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Developers</h5>
                <ul>
                    <br>
                  <li><a class="grey-text text-lighten-3" href="#!">Sanchit Singh</a></li>
                    <br>
                  <li><a class="grey-text text-lighten-3" href="#!">Navya Miglani</a></li>
                    <br>
                  <li><a class="grey-text text-lighten-3" href="#!">Keshav Mittal</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2023 WeWriteBlogs Limited
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>